#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.frog-icon {
  width: 120px;
  height: 120px;
  object-fit: contain;
  filter: invert(77%) sepia(18%) saturate(811%) hue-rotate(81deg) brightness(86%) contrast(85%);
}

.content {
  width: 60vw;
  max-width: 500px;
}

.rhap-container {
  background-color: transparent;
  height: 200px;
}

.rhap_time {
  color: white!important;
}