#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.frog-icon {
  width: 150px;
  height: 150px;
  object-fit: contain;
  filter: invert(67%) sepia(16%) saturate(1225%) hue-rotate(74deg) brightness(92%) contrast(95%);
}

.content {
  width: 60vw;
  max-width: 500px;
}