:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Poppins';
}

header {
  display: flex;
  gap: 35px;
  justify-content: center;
  text-align: left;
}

h1 {
  font-family: 'Paytone One';
  font-size: 4.1em;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 15px;
  color: #73ba82;
  /* border: 1px solid red; */
}

.subtitle {
  margin-bottom: 30px;
  /* font-family: 'Paytone One'; */
  font-size: 1em;
  font-style: italic;
  margin-top: 3px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #5dbb63;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  /* border-color: #646cff; */
  background-color: #429648;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: whitesmoke;
  }
  a:hover {
    color: #747bff;
  }

  .rhap_time {
    color: #213547!important;
  }

}